{namespace mmf=Mittwald\Typo3Forum\ViewHelpers}
{namespace b=Mittwald\Typo3Forum\ViewHelpers\Bootstrap}
<script type="text/javascript">
$(document).ready(function() {
});
function validate() {
	var file_size = $('#att')[0].files[0].size;
	if (file_size > {maxFileUploadSizeNumeric}) {
		alert("Uploaded file(s) size should be less than {maxFileUploadSize} bytes");
		return false;
	}
	return true;
}
</script>
<f:form name="post" object="{post}" controller="Post" action="{action}" id="post" enctype="multipart/form-data">
    <fieldset>
        <legend>
            <f:if condition="{post.uid}">
                <f:then>
                    <f:translate key="Post_Edit" arguments="{0: topic.subject}"/>
                </f:then>
                <f:else>
                    <f:translate key="Post_New" arguments="{0: topic.subject}"/>
                </f:else>
            </f:if>
        </legend>
        <f:if condition="{currentUser.anonymous}">
            <f:then>
                <b:form.row llLabel="Post_New_Author" error="post.authorName" errorLLPrefix="Post_New_Error_Author">
                    <f:form.textfield property="authorName"/>
                </b:form.row>
            </f:then>
        </f:if>
        <b:form.row llLabel="Topic_New_Subject">
            <span class="input-xlarge uneditable-input span8">{topic.subject}</span>
        </b:form.row>
        <b:form.row llLabel="Post_New_Text" error="post.text" errorLLPrefix="Post_New_Error_Text">
            <mmf:form.bbCodeEditor property="text" id="typo3forum_editor" rows="20" cols="40"
                                   class="tx-typo3forum-editor span8"/>
        </b:form.row>
        <b:form.row llLabel="Post_New_Attachments">
			<f:if condition="{post.attachments}">
				<f:for each="{post.attachments}" as="attachment">
					<div>
						<f:form.checkbox name="deleteAttachment[]" value="{attachment.filename}" />
						<f:translate key="Post_Delete_Attachment" /> - {attachment.filename},
						<mmf:format.fileSize>{attachment.filesize}</mmf:format.fileSize>
					</div>
				</f:for>
			</f:if>
		</b:form.row>

        <b:form.row>
			<f:form.upload name="attachments[0]" multiple="1" id="att" />
			<a href="javascript:void(0);" onclick="clearUpload();" style="display:block;float:left;font-size: 24px;">X</a>
			<style>#att{float:left;}</style>
			<script>
				function clearUpload(){
					$("#att").replaceWith($("#att").val('').clone(true));
				}
			</script>
		</b:form.row>

        <div>
            <f:form.hidden name="topic" value="{topic}"/>
			<f:if condition="{post.uid}">
				<f:then>
					<f:form.submit value="{f:translate(key: 'Post_Edit')}" class="btn btn-primary" onclick="return validate();" />
				</f:then>
				<f:else>
					<f:form.submit value="{f:translate(key: 'Post_New_Submit')}" class="btn btn-primary" onclick="return validate();" />
				</f:else>
			</f:if>
            <b:button controller="Topic" action="show" arguments="{topic:topic}" label="Button_Back"/>
        </div>
    </fieldset>
</f:form>
