<f:comment>@TODO: remove lines with 'replace(/&amp;/g, "&");' with a BE and smarter solution</f:comment>
<script>
    currentPageUid = "{f:cObject(typoscriptObjectPath: 'lib.pageUid')}";
    t3forum_ajaxUrl = "{f:uri.action(action: 'main', controller: 'Ajax', arguments:{format:'json'}, additionalParams:{eID:'t3forum'})}";
    t3forum_ajaxUrl = t3forum_ajaxUrl.replace(/&amp;/g, "&");
    t3forum_ajaxUrl_helpful = "{f:uri.action(action: '__t3forum_action__', controller: 'Post', arguments:{post:'__t3forum_post__'}, additionalParams:{eID:'__t3forum_eid__'})}";
    t3forum_ajaxUrl_helpful = t3forum_ajaxUrl_helpful.replace(/&amp;/g, "&");
</script>
